<div class="chat_show">
    <h2 style="text-align:center">
    <%= "#{@partner.email}さんとのチャット" %>
    </h2>
    <div id="chats">
    <% @chats.each do |chat| %>
        <% if chat.user_id==current_user.id %>
        <div class="mycomment">
            <p><%= chat.sentence %></p>
        </div>
        <%else%>
        <div class="fukidasi">
            <div class="faceicon">
            <img src="/assets/profile.png" alt="相手">
            </div>
            <div class="chatting">
            <div class="says">
                <p><%= chat.sentence %></p>
            </div>
            </div>
        </div>
        <%end%>
    <%end%>
    </div>
    <form id="send-form" action="<%= chats_path %>" method="post">
        <input type="text" id="sentence" name="sentence" placeholder="入力してね" style="width:30%;">
        <input type="hidden" name="partner_id" value="<%=@partner.id%>">
        <input type="submit" value="送信" id="send">
    </form>
    <%= link_to("ログアウトする","/users/sign_out",method: :delete) %>
</div>